body{
    margin: 0;
    background-color: #d2f1ff;
}

h1{
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    padding: 8px;
}

h2{
    margin:0;
    font-family: 'Open Sans', sans-serif bold;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

h3{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
p{
    font-family: 'Open Sans', sans-serif bold;
    font-size: 12px;
    font-weight: 400;
}
.header{
    position: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 80px;
    background-color: #d2f1ff;
    background: url("../images/headerhead.png") right no-repeat;
    background-size: contain;
    text-align: left;
    padding: 20px;
}

.topnav{
    overflow: hidden;
    background-color: #91deff;
    padding: 5px;
}
.topnav a{
    background-color: #91deff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0;
    border: none;

}
.topnav b{
    background-color: #91deff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0;
    border: none;
}
.topnav a:hover {
    background-color: steelblue;
    color: aliceblue;
}

input[type=text],input[type=textarea], input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit], input[type=button]{
    background-color: #91deff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 2px;
}

input[type=submit]:hover, input[type=button]:hover{
    background-color: royalblue;
    color: ghostwhite;
}

.container{
     width: 40%;
     left: 32%;
     top: 50%;
     position: absolute;
     border-radius: 5px;
     background-color: #cdeffe;
     padding: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
 }


.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

/*clears float value after */
.row:after{
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .col-75, .col-25, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

}