body {
    margin: 0;
    background-color: #d2f1ff;
    text-align: center;
}

canvas {
    position: absolute;
}

* {
    box-sizing: border-box;
}

h1{
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    padding: 8px;
}

h2{
    margin:0;
    font-family: 'Open Sans', sans-serif bold;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

h3{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
p{
    font-family: 'Open Sans', sans-serif bold;
    font-size: 12px;
    font-weight: 400;
}
.containerS{
    padding: 2px 16px;
    position: relative;
}

.coveringCanvas {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color: rgba(255, 0, 0, .1);
}

.header{
    position: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 80px;
    background-color: #d2f1ff;
    background: url("../images/headerhead.png") right no-repeat;
    background-size: contain;
    text-align: left;
    padding: 20px;
}

.image {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 50px;
    height: 50px;
}

.img-zoom-result {
    /*border: 1px solid #d4d4d4;*/
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}

.insideWrapper {
    text-align: center;
    width:100%;
    height:100%;
    position:relative;
}

.outsideWrapper {
    text-align: center;
    /*width:125px;*/
    /*height:125px;*/
    /*margin:20px 60px;*/
    border:1px solid black;
}
.insideWrapper {
    text-align: center;
    width:100%;
    height:100%;
    position:relative;
}

.topnav{
    overflow: hidden;
    background-color: #91deff;
    padding: 5px;
}
.topnav a{
    background-color: #91deff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0;
    border: none;

}

.sbutton{
    position: center;
    background-color: #91deff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: none;
    margin: 2px;
    text-align: center;
}

.topnav b{
    background-color: #91deff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0;
    border: none;
}
.topnav a:hover {
    background-color: steelblue;
    color: aliceblue;
}