body{
	margin: 0;
	background-color: #d2f1ff;
}


h1{
	font-family: 'Cinzel Decorative', sans-serif;
	font-weight: 400;
	margin: 0;
	font-size: 20px;
	padding: 8px;
}

h2{
	margin:0;
	font-family: 'Open Sans', sans-serif bold;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}

h3{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}
h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
p{
	font-family: 'Open Sans', sans-serif bold;
	font-size: 12px;
	font-weight: 400;
}

.header{
	position: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 80px;
	background-color: #d2f1ff;

	background: url("../images/headerhead.png") right no-repeat;
	background-size: contain;
	text-align: left;
	padding: 20px;
}

.topnav{
	overflow: hidden;
	background-color: #91deff;
	padding: 5px;
}
.topnav a{
	background-color: #91deff;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 20px;	
	text-decoration: none;
	margin: 0;
	border: none;
	
}
.topnav b{
	background-color: #91deff;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: right;
	display: block;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	margin: 0;
	border: none;
}

.topnav a:hover {
    background-color: steelblue;
    color: aliceblue;
}

.centerclmn {
	width: 80%;
	text-align: left;
}
.rightclmn {
	right: 0;
	position: absolute;
	float:right;
	height: 100%;
	width: 20%;
	padding: 10px;
	background-color: #cdeffe;
	border-left: solid 4px;
}
.row:after{
	height: 100%;
	content: "";
	display: table;
	clear: both;
}

.updatec{
	margin-top: 0;
	padding: 10px;
	border-bottom: double black;
}

a.gubutton{
	top: 52%;
	left: 35%;
	text-align: center;
	text-decoration: none;
	font: 20px 'open Sans', sans serif;
	
	position: absolute;
	border: 8px solid black;
	border-radius: 20px;
	padding: 30px;
	max-width: 300px;

	color: black;
	background-color: white;
}

a.gubutton:hover {
	background-color: palegreen;
	border-color: green;
}


button{
	font-size: 20px;
	background-color: #0094e2;
	color: ghostwhite;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: auto;
}

button:hover{
	opacity: 0.8;
	background-color: royalblue;
}

.container{
	border-radius: 5px;
	background-color: ghostwhite;
	padding: 13px;
}

span.psw{
	float: right;
	padding-top: 16px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
	border-radius: 3px;
}

.modal-content{
	text-align: center;
	background-color: ghostwhite;
	margin: 5% auto 15% auto;
	border: 1px solid #888888;
	border-radius: 5px;
	width: 30%;
}

.close{
	position: relative;
	text-align: right;
	left: 40%;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}
.modal-content2{
	padding: 20px;
	text-align: center;
	background-color: #d2f1ff;
	margin: 5% auto 15% auto;
	border: 1px solid #888888;
	border-radius: 5px;
	width: fit-content;
}

.close:hover,
.close:focus{
	color: darkorange;
	cursor: pointer;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}

input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

input[type=submit]{
	background-color: #91deff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin: 2px;
}

input[type=submit]:hover{
	background-color: royalblue;
	color: ghostwhite;
}

label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}

.animate{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

#centd{
	text-align: center;
	position: absolute;
}
@media (max-height: 600px) {
	.gubutton{
		position: sticky;
		top: 200px;
	}

}
@media (max-width: 800px) {
	.rightclmn{
		display: none;
		padding: 0;
	}
	.body{
		background-image: url("../images/pulse1.png") ;
	}
	.gubutton{
		position: sticky;
		top: 50%;
		left: 50%;
	}
}

@media (max-width: 400px) {
	.topnav a, .topnav b{
		float: none;
		width: 100%
	}
}

@media (max-width: 800px) {
	.header{
		background: #d2f1ff;
	}
}