
body{
	margin: 0;
	background: url("pulse1.png") fixed center; /* fixed center yaparsak kayıyor, yapmazsak kaymıyor*/
 	background-repeat:repeat;
	background-size:contain;
}


h1{
	margin: 0;
}

h2{
	margin:0;
	font-family: 'Open Sans', sans-serif bold;
	font-size: 16px;
	font-weight: 600;
}

p{
	font-family: 'Open Sans', sans-serif bold;
	font-size: 12px;
	font-weight: 400;
}

.header{
	position: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 80px;
	background-color: #d2f1ff;
	text-align: left;
	padding: 20px;
}

.topnav{
	overflow: hidden;
	background-color: #91deff;
	padding: 5px;
}
.topnav a{
	background-color: #91deff;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 20px;	
	text-decoration: none;
	margin: 0;
	border: none;
	
}
.topnav a:hover {
    background-color: steelblue;
    color: aliceblue;
}

a.centerp {
	height: 500px;
	width: 80%;
	text-align: center;
}
.rightp {
	height: 600px;
	width: 20%;
	padding: 10px;
	background-color: #cdeffe;
	border-left: solid 4px;
}
.row:after{
	height: 100%;
	content: "";
	display: table;
	clear: both;
}

.updatec{
	padding: 10px;
	border-bottom: double black;
}

a.gubutton{
	top: 50%;
	left: 32%;
	text-align: center;
	text-decoration: none;
	font: 20px 'open Sans', sans serif;
	
	position: absolute;
	border: 8px solid black;
	border-radius: 20px;
	padding: 30px;
	max-width: 300px;
	
	color: black;
	outline: medium solid white;
	background-color: white;
}

a.gubutton:hover {
	background-color: palegreen;
	border-color: green;
}

@media (max-width: 600px) {
    .right {
        width: 100%;
    }
}